<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Run Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/signStyle.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="images/x-icon" href="../public/icons/Logo.png" />
</head>
<body>
    <header>
        <div class="logo">
            <a href="./index.html">Sign<span>Comm</span></a>
        </div>
        <div class="navbar">
            <ul class="links">
                <li><a href="hero" class="nav-btn">Home</a></li>
                <li><a href="about" class="nav-btn">About</a></li>
                <li><a href="services" class="nav-btn">Services</a></li>
                <li><a href="contact" class="nav-btn">Contact</a></li>
                <li>
                    <a href="./components/contribute.html" class="nav-btn">Contribution</a>
                </li>
            </ul>
        </div>
        <div class="toggle_btn">
            <i id="barIcon" class="fa-solid fa-bars"></i>
        </div>
    </header>
    <div class="content">
        <h1>A real-time sign language translation system for seamless communication.</h1>
        <button id="runTestBtn">Generate</button>
    
        <h2>Outputs:</h2>
        
        <div id="resultContainer" class="resultCon">
            <p id="loadingMessage"></p>
        </div>
        <div class="speaker-btn" style="cursor:pointer;">
            <img id="speakerButton" src="https://st4.depositphotos.com/20858482/23875/v/450/depositphotos_238757798-stock-illustration-speaker-icon-vector-volume-icon.jpg" alt="speaker" width="60px" style="border-radius: 50%;"/>
        </div>
        
    </div>
    <footer>
        <div class="footer-one">
            <div class="footer-left">
                <div class="logo" id="footer-logo"><a href="#">Sign<span>Comm</span></a></div>
            </div>
            <div class="footer-right">
                <form action="#" id="submitForm">
                    <h2>Let's Stay Connected!!</h2>
                    <div class="input-box">
                        <span class="icon"><ion-icon name="mail"></ion-icon></span>
                        <input type="email" required id="email">
                        <label>Email</label>
                    </div>
                    <button type="submit" class="btn" id="signinBtn">Submit</button>
                </form>
            </div>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='scripts/signScript.js') }}"></script>
</body>
</html>
